.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  color: brown;
}
marquee{
  font-size: 30px;
  color: blue;
  background-color: bisque;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input{
  border-color: brown;
  height: 30px;
  width: 350px;
  border-radius: 10px;
}
.btn{
  height: 30px;
  width: 350px;
  color: red;
  background-color: yellow;
  border-radius: 8px;
}
table{
  width:100%;
}
th,td{
  border: 1px solid blue;
  padding: 10px;
}
th{
  color:red;
  background-color: aliceblue;
}